---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Antik70.de - Zeitlose Eleganz">
  <main class="px-8 lg:container">
    s Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat maxime
    iusto sapiente veniam rem voluptatibus, quidem ad nulla maiores beatae nihil
    inventore perspiciatis natus eos dolore, deserunt qui recusandae
    consequuntur?
    <!-- cotentent -->
  </main>
</Layout>

<style>
  /* c */
</style>
