---
import { HomeIcon } from "@heroicons/react/24/outline";
---

<button
  type="button"
  class="text-xs md:text-base inline-flex items-center gap-x-1 md:gap-x-2 rounded-full bg-transparent border-2 px-2 py-1 xl:px-3 xl:py-1 font-bold text-[16px] focus-visible:outline hover:bg-primary hover:text-white transition-colors hover:border-transparent duration-200 ease-in-out whitespace-nowrap"
>
  <HomeIcon className="h-4 w-4 md:h-6 md:w-6" />
  <slot />
</button>
